<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Рассылка</title>
    </head>
    <body style="margin: 0; padding: 0;background-color: white">
        <table style="width: 100%; border-collapse: collapse; text-align: center;">
            <tr>
                <td>
                    <table style="max-width: 1000px; margin: auto; border-collapse: collapse;background-color: #ffffff ">
                        <tr>
                            <td colspan="3" style="color: #8b8b8b; text-align: center; padding: 15px; font-size: 24px;border-bottom: 1px solid #ffd036; font-family: Arial, sans-serif; font-weight: bold;">Уважаемый Партнер, примите к сведению!</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="color: #8b8b8b; text-align: center; padding: 15px; font-size: 18px;border-bottom: 1px solid #ffd036; font-family: Arial, sans-serif; font-weight: bold;"> {{ content.textLetter }}</td>
                        </tr>

                        <tr>
                            <td colspan="3" style="text-align: center; padding: 20px 0; font-size: 14px; color: #8b8b8b;">По всем вопросам можете обращаться в Servicedesk по номеру телефона:</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align: center; padding: 0; font-size: 14px; color: #8b8b8b;"><span style="color: #0563c1;">+7 727 350 0636</span> или <span style="color: #0563c1;">10-111</span></td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align: center; padding: 20px 0; font-size: 30px; color: #8b8b8b; font-weight: bold;">Service<span style="color: #ffd036; font-weight: bold;">Desk</span></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
